<header>
    <!-- Navbar content -->
    
    <h1 class="title">PokeDex</h1>
    <a routerLink="/profile"><button class="btn btn-outline-dark" type="submit">Profile</button></a>
    <a routerLink="/pokemon-list"><button class="btn btn-outline-dark" type="submit">Pokemon Catalogue</button></a>
    <button *ngIf="isShown" (click)="onLogout()" type="button" class="btn btn-danger">Logout</button>
</header>