header {
    padding: 20px 0px;
    text-align: center;
    background-color: seagreen;

}
header h1 {
    text-transform: uppercase;
    color: wheat;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 8px;
    
}

button {
    color: wheat;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 8px;
    margin-right: 5px;
    
}