<h1 class="mb-3 mt-3">Pick a Pokemon to Add to Profile:</h1>

<!-- Pokemon Grid -->
<div class="pokemon-grid">
    <div class="box" 
    *ngFor="let pokemon of pokemons | 
    paginate: { itemsPerPage: 8, currentPage: page, totalItems: totalPokemons }" 
    matRipple (click)="pickPokemon(pokemon)" >
        <!--IMG-->
        <img [src]="pokemon.sprites.front_default" alt="pokemon img">
        <h3>{{ pokemon.name }}</h3>
        <p> <!-- pokemon type -->
            <b>Type:</b> {{ pokemon.types[0].type.name}}
        </p>
        <p> <!-- pokemon health -->
            <b>Health:</b> {{ pokemon.stats[0].base_stat }}
        </p>
        <p> <!-- pokemon power -->
            <b>Attack Power: </b> {{ pokemon.stats[1].base_stat }}
        </p>
        <p> <!-- pokemon abilitys -->
            <b>Abilities: </b> 
            {{ pokemon.moves[0].move.name }},
            {{ pokemon.moves[1].move.name }}
            
        </p>
    </div>
    
</div>

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
