
<div class="container mt-3">
    <h1>Login to PokeDex</h1>

    <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
        <fieldset class="mb-3">
            <label class="form-label" for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="username" 
            [ngClass]="{ 'is-valid' : username.valid }"
            minlength="3" required ngModel #username="ngModel"/>
            <!-- Validation Username -->
            <div *ngIf="username.errors && username.invalid && ( username.dirty || username.touched )">
                <div class="invalid-feedback" *ngIf="username.errors.required">Username is required!</div>
                <div class="invalid-feedback"*ngIf="username.errors.minlength">Username is too short!</div>
            </div>
        </fieldset> 

        <button class="btn btn-primary mb-3" [disabled]="createForm.invalid" type="submit">Login</button>
    </form> 
</div>