.pokemon-grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
    
}

.pokemon-grid .box {
    width: 100%;
    height: 300px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    text-align: center;
}

.pokemon-grid .box img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    
}

pagination-controls {
    text-align: center;
}

h1, button{
    text-align: center;
    margin:auto;
    display:block;
}