<h1 class="mb-3 mt-3">Welcome <b>{{ loggedUser.username }}</b></h1>
<h1 class="mb-3 mt-3">Captured Pokemon:</h1>
<button type="submit" class="btn btn-danger mt-3 mb-3" (click)="releasePokemonOnSubmit()">
    Release Pokemon
</button>

<!-- Pokemon Grid -->
<!--BOX 1-->
<div class="pokemon-grid">
    <div class="box"  matRipple *ngFor=" let poke of pokeData "> <!-- Array of pokemon -->
        <!--IMG-->
        <img [src]="poke.sprites.front_default" alt="pokemon img">
        <h3>{{ poke.name }}</h3>
        <p> <!-- pokemon type -->
            <b>Type:</b> {{ poke.types[0].type.name}}
        </p>
        <p> <!-- pokemon health -->
            <b>Health:</b> {{ poke.stats[0].base_stat }}
        </p>
        <p> <!-- pokemon power -->
            <b>Attack Power: </b> {{ poke.stats[1].base_stat }}
        </p>
        <p> <!-- pokemon abilitys -->
            <b>Abilities: </b> 
            {{ poke.moves[0].move.name }},
            {{ poke.moves[1].move.name }}
        </p>
    </div>
    
    
</div>
