* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.invalid-feedback {
    display: block;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


